.footer-container{
    display: flex;
    flex-direction: column;
    background: #f8fbfb;
    padding: 20px 100px;
}

.footer-container a {
    text-decoration: none;
    color: rgb(86, 84, 84);
    font-size: 15px;
}
.footer-container a:hover{
    text-decoration: underline;
}
.footer-container ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}

.upper-sec p {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    left: 35px;
}

.upper-sec{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px;
}

.lower-sec{
    display: flex;
    flex-direction: column;

}

.line{
    height: 1px;
    background: #949292;
    margin: 10px 0;
}

.lower-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.policies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.v-line{
    width: 2px;
    height: 20px;
    background: #949292;
}

@media screen and (max-width: 640px){
    .upper-sec{
        display: flex;
        flex-direction: column;
    }

    .upper-sec > div{
        width: 200px;
        flex-wrap: wrap;
        margin: 20px;
    }

    .policies{
        display: flex;
        flex-direction: column;
    }
}