.hero3{
    background-image: url('../images/hero_tv4k_large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.hero3 .text-content{
    position: relative;
    top: 400px;
    left: 10px;
    text-align: center;
}

.hero3 h1{
    font-size: 50px;
    margin: 5px;
}
.hero3 h3{
    font-size: 25px;
    font-weight: 500;
    margin: 5px;
}
.hero3 .text-content > p{
    font-size: 15px;
    font-weight: 600;
    color: #758283;
    margin: 5px;
}

@media screen and (max-width: 640px){
    .hero2 .hero-section{
        background-image: url('../images/hero_tv4k__cgpb13m0phyq_small_2x.jpg');
    }
}